:root {
  --color-background-page: rgb(255, 250, 243);     
  --color-background-header: rgb(210, 96, 60);       
  --color-text: rgb(59, 47, 47);                      
  --color-text-inverted: rgb(255, 255, 255);         

  --color-text-heading: rgb(140, 76, 47);            
  --color-link: rgb(184, 92, 56);                    

  --color-sidebar-background: rgb(254, 246, 230);    
  --color-sidebar-border: rgb(230, 200, 166);        

  --color-input-border: var(--color-link);
  
}

body.dark-mode {
  --color-background-page: rgb(95, 78, 69);           /* 深棕色背景 */
  --color-text: rgb(239, 216, 204);                      /* 温暖米白色字体 */
  --color-sidebar-background: rgb(112, 85, 74);        /* 深一点的棕色侧边栏 */
  --color-sidebar-border: rgb(94, 67, 53);
  --color-background-header: rgb(75, 46, 42);         /* 深红棕色 header */
  --color-link: rgb(247, 170, 125);                      /* 柔和橘色链接 */
}

